@{
    ViewBag.Title = "Home Page";
}

<main>
    <img src="~/Logo/The Wellhall.png" alt="Logo" class="container-fluid" style="width:100% auto" />
    <div class="container-fluid">
        <section class="row" aria-labelledby="aspnetTitle">           
            <p class="lead">This website make with ASP.NET, which is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>
      
    </div>
</main>
<footer>
    <p class="text-center sticky-bottom">&copy; @DateTime.Now.Year - MD SHAHIDUL ALAM <br /> shahidulalam447@gmail.com</p>
</footer>